<h1>{{ name }}</h1>
<p>NgxMatSelectSearch & MatSelectInfiniteScroll</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <app-paginated-dropdown formControlName="dropDown" [url]="'https://ucreate-api-dev.nunoerin.com/client'"
    [fieldLabel]="'DropDown'" optionViewKey="name" [outputPattern]="['id', 'name']">
  </app-paginated-dropdown> -->
  <br />

  <app-ng-select-dropdown formControlName="ngDropDown" [url]="'https://ucreate-api-dev.nunoerin.com/client'"
  optionViewKey="name" [outputPattern]="['id', 'name']"></app-ng-select-dropdown>

  <mat-error *ngIf="f.ngDropDown.invalid && (f.ngDropDown.dirty || f.ngDropDown.touched || showValidation)">
    <div *ngIf="f.ngDropDown.errors?.required">ngDropDown is required</div>
  </mat-error>

  <button type="submit">Submit Value</button>
</form>

<br />
<br />

<p>{{formValue}}</p>


